<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DR Comp Seaberg (AUv3 AppExtension).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DR Comp Seaberg (AUv3 Standalone).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DR Comp Seaberg (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DR Comp Seaberg (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DR Comp Seaberg (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>192347375D965CF24BD42E05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DC09E6E5FB65E1CE4783D3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69D387D234E5C65A28593EE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E044CB99595A543B4BB75F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC5A787537A3DD10A731E068</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
